{% extends 'trackgovApp/base.html' %}
{% block title %}Bills Page{% endblock title %}
{% block content %}

    <div class="container-fluid my-4">
        <div class="row container bills-firstSubContainer w-100 h-100 justify-content-center align-self-center mt-5">
            <p class="font-weight-bold">BILL 1</p>
            <p>Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh
            Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh
            Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh
            Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh</p>
        </div>

        <div class="row container justify-content-center align-self-center w-100 h-100 mt-5 mr-5">
            <p class="font-weight-bold">COMMENTS</p>
        </div>

        <div class="row container bills-secondSubContainer w-100 h-100 mt-1">
            <div class="row p-5 bills-secondSubContainer1">
                <p>Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh
                Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh
                Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh
                Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh</p>
            </div>

            <div class="row mt-5 p-5 bills-secondSubContainer2">
                <p>Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh
                Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh
                Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh
                Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh</p>
            </div>
        </div>
    </div>
{% endblock content %}
