{% extends 'trackgovApp/base.html' %}
{% block title %} Track Bill | Trackgov Dashboard {% endblock title %}
{% block content %}

    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

            <div class="h-100" id="left-side-menu-container" data-simplebar>

                <!--- Sidemenu -->
                <ul class="metismenu side-nav">

                    <li class="side-nav-title side-nav-item">Navigation</li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <i class="uil-home-alt"></i>
                            <span class="badge badge-success float-right">4</span>
                            <span> Dashboards </span>
                        </a>
                        <ul class="side-nav-second-level" aria-expanded="false">
                            <li>
                                <a href="dashboard-analytics.html">Analytics</a>
                            </li>
                            <li>
                                <a href="dashboard-crm.html">CRM</a>
                            </li>
                            <li>
                                <a href="index.html">Ecommerce</a>
                            </li>
                            <li>
                                <a href="dashboard-projects.html">Projects</a>
                            </li>
                        </ul>
                    </li>

                    <li class="side-nav-title side-nav-item">Apps</li>

                    <li class="side-nav-item">
                        <a href="apps-calendar.html" class="side-nav-link">
                            <i class="uil-calender"></i>
                            <span> Categories </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="apps-chat.html" class="side-nav-link">
                            <i class="uil-comments-alt"></i>
                            <span> Bills </span>
                        </a>
                    </li>

        
                </ul>

                
                <!-- End Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page content-page-bill-list-custom">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid mt-lg-1 mt-md-1 mt-sm-1 mt-xl-4">

                    <div class="row mb-3">
                        {% comment %} <div class="col-sm-9 pl-0"> {% endcomment %}
                        <div class="col-lg-6 col-md-4 col-xl-4 col-sm-6 pl-0">
                            <!-- Profile -->
                            <div class="card">
                                <div class="card-body profile-user-box">

                                    <div class="media">
                                        {% comment %} <div class="mr-3"> {% endcomment %}
                                            <span class="float-left m-0 mr-3"><img src="{{ bio_object.profile_picture }}" style="height: 100px;" alt="" class="rounded-circle img-thumbnail"></span>
                                        {% comment %} </div> {% endcomment %}

                                        <div class="media-body">
                                            <div class="mt-2">
                                                <span class="bills-list-title-custom">
                                                    <a id="" href="{% url 'politicianbio' bio_object.name %}">
                                                        <span class="text-white"> {{ bio_object.name }}</span>
                                                        {{ entries.title_of_bill }}
                                                    </a>
                                                </span>
                                                <span class="badge badge-danger badge-pill">Federal </span>

                                                <p class="font-13 text-white-50"> Your electorate : {{ bio_object.elec_div }} </p>

                                            </div>


                                            <div>
                                                <ul class="social-list list-inline mb-1">
                                                    <li class="list-inline-item text-center">
                                                        <a href="javascript: void(0);" class="social-list-item border-white text-white">
                                                            <i class="mdi mdi-wikipedia"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item text-center">
                                                        <a href="javascript: void(0);" class="social-list-item border-primary text-primary">
                                                            <i class="mdi mdi-web"></i>
                                                        </a>
                                                    </li>
                                                    {% comment %} <li class="list-inline-item text-center mr-2">
                                                        <span class="text-white-50 ml-1">
                                                            <i>contact:</i>
                                                        </span>
                                                    </li> {% endcomment %}
                                                    <li class="list-inline-item text-center">
                                                        <a href="javascript: void(0);" class="social-list-item">
                                                            <i class="mdi mdi-mailbox"></i>
                                                        </a>
                                                    </li>

                                                    <li class="list-inline-item text-center">
                                                        <a href="javascript: void(0);" class="social-list-item border-success text-success">
                                                            <i class="mdi mdi-phone"></i>
                                                        </a>
                                                    </li>

                                                    <li class="list-inline-item text-center">
                                                        <a href="javascript: void(0);" class="social-list-item border-warning text-warning">
                                                            <i class="mdi mdi-email-edit"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item text-center">
                                                        <a href="javascript: void(0);" class="social-list-item border-info text-info">
                                                            <i class="mdi mdi-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item text-center">
                                                        <a href="javascript: void(0);" class="social-list-item border-primary text-primary">
                                                            <i class="mdi mdi-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item text-center">
                                                        <a href="javascript: void(0);" class="social-list-item border-primary text-primary">
                                                            <i class="mdi mdi-facebook-messenger"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item text-center">
                                                        <a href="javascript: void(0);" class="social-list-item border-danger text-danger">
                                                            <i class="mdi mdi-instagram"></i>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div> <!-- end media-body-->
                                    </div>

                                </div> <!-- end card-body/ profile-user-box-->
                            </div><!--end profile/ card -->
                        </div> <!-- end col-->

                    </div>
                    <!-- end row -->
                    
                    <div class="row card mb-3">
                        <table class="table table-responsive-lg table-responsive-md table-responsive-sm table-centered mb-0">
                            <thead class="">
                                <tr>
                                    <th>TRACKING BILLS</th>
                                    {% comment %} <th><span class="col-md-6 ml-lg-2 ml-xl-4 ml-md-4 ml-sm-2">PROGRESS</span></th> {% endcomment %}
                                    <th>PROGRESS</th>
                                    <th>COMMENTS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for _ in ourRange0 %}
                                    <tr>
                                        <td class="w-50">
                                            <span class="bills-list-title-custom">
                                                <a id="" href="{% url 'dashboardbilldetail' 1 'KaranGanesh' %}">ABC Amendment (Online and Multichannelling Services) Bill 2001 [2002]</a>
                                            </span> 
                                        </td>
                                        <td class="w-25">
                                            {% comment %} <div class="progress-w-percent mb-0"> {% endcomment %}
                                            {% comment %} <div class="col-md-6"> {% endcomment %}
                                                {% comment %} <span class="progress-value"></span> {% endcomment %}
                                                <div class="progress progress-lg progress-md progress-sm">
                                                    <div class="progress-bar progress-lg progress-md progress-sm bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            {% comment %} </div> {% endcomment %}
                                            {% comment %} </div> {% endcomment %}
                                        </td>
                                        <td class="w-25">
                                            <div>
                                                <span class="uil uil-comments-alt ml-3"></span> 148
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end row -->


                    {% comment %} Start row {% endcomment %}
                    <div class="row card">
                        <table class="table table-responsive-lg table-responsive-md table-responsive-sm table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>NEW BILLS</th>
                                    <th>TRACK?</th>
                                    <th></th>
                                    <th>COMMENTS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entries in bill_list %}
                                    <tr>
                                        <td>
                                            <span class="bills-list-title-custom">
                                                <a id="" href="{% url 'dashboardbilldetail' entries.id bio_object.name %}">{{ entries.title_of_bill }}</a>
                                            </span> 
                                        </td>
                                        <td>
                                            <!-- Switch-->
                                            <div class="mt-1">
                                                <input type="checkbox" id="switch{{ entries.id }}" data-switch="success"/>
                                                <label for="switch{{ entries.id }}" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="{{ entries.link_to_bill }}" >
                                                <button class="btn btn-rounded btn-info font-10">READ</button>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="mt-1">
                                                <span class="uil uil-comments-alt ml-lg-3"></span> 148
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br />
    
                    
                </div> <!-- container -->

            </div> <!-- content -->

            


        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

{% endblock content %}



