{% extends 'trackgovApp/base.html' %}
{% block title %}Categories Section{% endblock title %}
{% block content %}

    <div class="container my-4">

        <p class="font-weight-bold">SELECT AT LEAST ONE TOPIC</p>
        <form>
            <div class="row">
                <div class="col-sm">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check1" checked>
                        <label class="custom-control-label" for="check1">Check me</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check2">
                        <label class="custom-control-label" for="check2">Business</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check3" checked>
                        <label class="custom-control-label" for="check3">Civil Rights</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check4" checked>
                        <label class="custom-control-label" for="check4">Drug policy</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check5">
                        <label class="custom-control-label" for="check5">Economy</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check5">
                        <label class="custom-control-label" for="check5">Education</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check4" checked>
                        <label class="custom-control-label" for="check4">Enviroment</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check5">
                        <label class="custom-control-label" for="check5">Food/Water</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check5">
                        <label class="custom-control-label" for="check5">Foreign Policy</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check4" checked>
                        <label class="custom-control-label" for="check4">Guns</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check5">
                        <label class="custom-control-label" for="check5">Healthcare</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check5">
                        <label class="custom-control-label" for="check5">Immigration</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check4" checked>
                        <label class="custom-control-label" for="check4">Jobs/Wages</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check5">
                        <label class="custom-control-label" for="check5">Key Context</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check5">
                        <label class="custom-control-label" for="check5">Law Enforcement</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check4" checked>
                        <label class="custom-control-label" for="check4">LGBTQ+</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check5">
                        <label class="custom-control-label" for="check5">Millitary</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check5">
                        <label class="custom-control-label" for="check5">Public Office</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check4" checked>
                        <label class="custom-control-label" for="check4">Religion</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check5">
                        <label class="custom-control-label" for="check5">Social Programs</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check5">
                        <label class="custom-control-label" for="check5">Taxes</label>
                    </div>
                    </li>
                    <li class="list-group-item">
                    <!-- Default checked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check5">
                        <label class="custom-control-label" for="check5">Technology</label>
                    </div>
                    </li>                                                  
                </ul>
                </div>


                <div class="form-row align-items-center mt-5 col-sm ml-5">
                    <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Choose Region</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Choose...</option>
                        <option value="1">Alabama</option>
                        <option value="2">Atlanta</option>
                        <option value="3">Texas</option>
                        <option value="3">Kentucky</option>
                    </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="col-auto my-1 row justify-content-center align-self-center">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input mt-n5" id="customControlAutosizing">
                            <label class="custom-control-label" for="customControlAutosizing">Remember my preference</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>

    {% comment %} <div class="row justify-content-center align-self-center">
        <a href="{%  url 'categories' %}" class="btn btn-success mt-5 ml-5 ">Next</a>
    </div> {% endcomment %}

    </div>
{% endblock content %}
