{% extends 'trackgovApp/base.html' %}
{% block title %} Dashboard {% endblock title %}
{% block content %}

    <div class="container-fluid my-4">

        <span class="font-weight-bold">DASHBOARD</span> <br>
        <div class="row w-100 h-100" id="dashcol-left">
            <div class="col-lg container">
                <div class="row" id="dash-col-left">
                    <p class="font-weight-bold">YOUR REPRESENTATIVE</p>
                    <p>Textttttdgbdddddddddddddddddddhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhh</p>
                </div>

                <div class="row" id="dash-col-left">
                    <p class="font-weight-bold">TRACKING</p>
                    <p>Textttttdgbdddddddddddddddddddhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhh</p>
                </div>
                
                <div class="row" id="dash-col-left">
                    <p class="font-weight-bold">PRESENT</p>
                    <p>Textttttdgbdddddddddddddddddddhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhh</p>
                </div>
            </div>

            <div class="col-lg container" id="dashcol-left">
                <div class="row" id="dash-col-center">
                    <p class="font-weight-bold">TRACKING BILLS</p>
                    <p>Textttttdgbdddddddddddddddddddhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhhh</p>
                </div>

                <div class="row" id="dash-col-center">
                <p class="font-weight-bold">YOUR FRONTPAGE</p>
                    <p>Textttttdgbdddddddddddddddddddhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhh</p>
                    
                    <p>Textttttdgbdddddddddddddddddddhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhh</p>
                </div>
            </div>


            <div class="col-lg container" id="dashcol-left">
                <p class="font-weight-bold" id="dash-col-right">YOUR REPRESENTATIVE</p>
                    <p>Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh
                    Textttttdgbdddddddddddddddddddhhhhhhhhhhhhhhhhhhhhh</p>
                <p class="font-weight-bold" id="dash-col-right">YOUR REPRESENTATIVE</p>
            </div>
        </div>

    </div>
{% endblock content %}
