{% extends 'trackgovApp/base.html' %}
{% block title %} Track Gov Index Page {% endblock title %}
{% block content %}
    <div class="row justify-content-center align-self-center">
        <h3 class="mb-5 mt-5">Politics in the palm of your hand</h3>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
            <p class="card-text">
            Stay current with life political information. Read bills, follow politicians and track
            topics that are important to you.
            </p>
        </div>
    </div>
    <div class="row justify-content-center align-self-center">
        <a href="{%  url 'categories' %}" class="btn btn-success mt-5 ml-5 ">Next</a>
    </div>
{% endblock content %}