{% extends 'trackgovApp/base.html' %}
{% block title %} Profile | Trackgov Dashboard {% endblock title %}

{% block navMenu %}
    <nav class="navbar navbar-expand-sm bg-navbar-custom navbar-dark sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <!-- LOGO -->
                <li class="nav-item">
                    <a href="index.html" class="nav-link navbar-brand">
                        <span class="logo-lg">
                            <img src="../../static/trackgovApp/assets/images/logo99.png" alt="" class="logo-dark myLogo mb-1" height="19">
                        </span>
                    </a>
                </li>
                <li class="nav-item active mr-3">
                    <a class="nav-link" href="{%  url 'home' %}">Home</a>
                </li>

                <li class="nav-item mr-3">
                    <a class="nav-link" href="{%  url 'faq' %}">Faq</a>
                </li>
                <li>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control dropdown-toggle" placeholder="Search..." id="top-search">
                            {% comment %} <span class="mdi mdi-magnify search-icon"></span> {% endcomment %}
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto navbar-right">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="dripicons-bell noti-icon"></i>
                        <span class="noti-icon-badge"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">

                        <!-- item-->
                        <div class="dropdown-item noti-title">
                            <h5 class="m-0">
                                <span class="float-right">
                                    <a href="javascript: void(0);" class="text-dark">
                                        <small>Clear All</small>
                                    </a>
                                </span>Notification
                            </h5>
                        </div>

                        <div style="max-height: 230px;" data-simplebar>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-primary">
                                    <i class="mdi mdi-comment-account-outline"></i>
                                </div>
                                <p class="notify-details">Caleb Flakelar commented on Admin
                                    <small class="text-muted">1 min ago</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info">
                                    <i class="mdi mdi-account-plus"></i>
                                </div>
                                <p class="notify-details">New user registered.
                                    <small class="text-muted">5 hours ago</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon">
                                    <img src="assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                <p class="notify-details">Cristina Pride</p>
                                <p class="text-muted mb-0 user-msg">
                                    <small>Hi, How are you? What about our next meeting</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-primary">
                                    <i class="mdi mdi-comment-account-outline"></i>
                                </div>
                                <p class="notify-details">Caleb Flakelar commented on Admin
                                    <small class="text-muted">4 days ago</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon">
                                    <img src="assets/images/users/avatar-4.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                <p class="notify-details">Karen Robinson</p>
                                <p class="text-muted mb-0 user-msg">
                                    <small>Wow ! this admin looks good and awesome design</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info">
                                    <i class="mdi mdi-heart"></i>
                                </div>
                                <p class="notify-details">Carlos Crouch liked
                                    <b>Admin</b>
                                    <small class="text-muted">13 days ago</small>
                                </p>
                            </a>
                        </div>

                        <!-- All-->
                        <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                            View All
                        </a>

                    </div>
                </li>

                <li>
                    <a class="nav-link right-bar-toggle" href="javascript: void(0);">
                        <span class="dripicons-gear noti-icon"></span>
                    </a>
                </li>
                <li>
                    <a href="{%  url 'login' %}" class="nav-link">Login<i class=""></i></a>
                </li>
                <li>
                    <a href="{%  url 'signup' %}" class="nav-link">Signup<i class="fa fa-telegram fa-lg"></i></a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock navMenu %}


{% block content %}

    <!-- Begin page -->
    <div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

        <div class="h-100" id="left-side-menu-container" data-simplebar>

            <!--- Sidemenu -->
            <ul class="metismenu side-nav">

                <li class="side-nav-title side-nav-item">Navigation</li>

                <li class="side-nav-item">
                    <a href="javascript: void(0);" class="side-nav-link">
                        <i class="uil-home-alt"></i>
                        <span class="badge badge-success float-right">4</span>
                        <span> Dashboards </span>
                    </a>
                    <ul class="side-nav-second-level" aria-expanded="false">
                        <li>
                            <a href="dashboard-analytics.html">Analytics</a>
                        </li>
                        <li>
                            <a href="dashboard-crm.html">CRM</a>
                        </li>
                        <li>
                            <a href="index.html">Ecommerce</a>
                        </li>
                        <li>
                            <a href="dashboard-projects.html">Projects</a>
                        </li>
                    </ul>
                </li>

                {% comment %} <li class="side-nav-title side-nav-item">Apps</li> {% endcomment %}

                <li class="side-nav-item">
                    <a href="apps-calendar.html" class="side-nav-link">
                        <i class="uil-calender"></i>
                        <span> Categories </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="apps-chat.html" class="side-nav-link">
                        <i class="uil-comments-alt"></i>
                        <span> Chat </span>
                    </a>
                </li>
            </ul>

            
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">
                
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Profile</h4>
                        </div>
                    </div>
                </div>     
                <!-- end page title --> 


                <div class="row">
                    <div class="col-sm-12">
                        <!-- Profile -->
                        <div class="card bg-primary">
                            <div class="card-body profile-user-box">

                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="media">
                                            <span class="float-left m-2 mr-4"><img src="{{ bio_object.profile_picture }}" style="height: 100px;" alt="" class="rounded-circle img-thumbnail"></span>
                                            <div class="media-body">

                                                
                                                {% comment %} <span class="text-left mt-3"> {% endcomment %}
                                                <div>
                                                    <ul class="social-list list-inline mb-1">
                                                        <li class="list-inline-item">
                                                            <h4 class="text-white">{{ bio_object.name }}</h4>
                                                        </li>
                                                        {% comment %} <br /> {% endcomment %}
                                                        <li class="list-inline-item text-center">
                                                            <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary">
                                                                <i class="mdi mdi-facebook"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item text-center">
                                                            <a href="javascript: void(0);" class="social-list-item border-danger text-danger">
                                                                <i class="mdi mdi-google"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item text-center">
                                                            <a href="javascript: void(0);" class="social-list-item border-info text-info">
                                                                <i class="mdi mdi-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item text-center">
                                                            <a href="javascript: void(0);" class="social-list-item border-danger text-danger">
                                                                <i class="mdi mdi-pinterest"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item text-center">
                                                            <a href="javascript: void(0);" class="social-list-item border-success text-success">
                                                                <i class="mdi mdi-phone"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item text-center">
                                                            <a href="javascript: void(0);" class="social-list-item border-warning text-warning">
                                                                <i class="mdi mdi-email"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                {% comment %} </span> {% endcomment %}
                                                <p class="font-13 text-white-50"> Electorate </p>
                                                <br />
                                                <p class="font-6 text-white btn btn-info btn-rounded"> Wiki </p>
                                            </div> <!-- end media-body-->
                                        </div>
                                    </div> <!-- end col-->
                                </div> <!-- end row -->

                            </div> <!-- end card-body/ profile-user-box-->
                        </div><!--end profile/ card -->
                    </div> <!-- end col-->
                </div>
                <!-- end row -->


                <div class="row">
                    <div class="col-lg-12">

                        <!-- Chart-->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-3">Comments</h4>
                                <div style="height: 260px;" class="chartjs-chart">
                                    <canvas id="high-performing-product"></canvas>
                                </div>        
                            </div>
                        </div>
                        <!-- End Chart-->

                    </div>
                    <!-- end col -->

                </div>
                <!-- end row -->
                
            </div> <!-- container -->

        </div> <!-- content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <div class="rightbar-overlay"></div>
    <!-- /Right-bar -->


{% endblock content %}
